repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
    -   id: pyright
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
    -   id: shfmt
        args: [-w, -i, '4', -ci]
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    -   id: gitleaks
-   repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.13.13
    hooks:
    -   id: typos
